#board {
    background: plum;
    border: 4px solid indigo;
    width: 500px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.board-row {
    display: flex;
    width: 100%;
}

.pixel {
    flex: 1 0 auto;
    /* border: 1px solid black; */
    height: 20px;
    background: white;
    align-self: center;
    box-sizing: border-box;
}

.colored {
    background: black;
}

